/* responsive for small device */
@media screen and (max-width:600px) {

    .banner-headline h2 {
        font-size: 3em;
    }

    .banner-text p {
        font-size: 10px;
    }

    .banner-input {
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 200px;
        height: 250px;
    }

    .text-container {
        width: 100%;
        padding: 10px;
    }

    .image-container img {
        width: 100%;
        position: absolute;
    }

    .popular {
        display: flex;
        flex-direction: column;
    }

    .first-flex, .second-flex, .third-flex {
        display: flex;
        flex-direction: column;
        height: auto;
        gap: 20px;
    }

    .maldives, .indonesia{
        margin-top: 85px;
    }
    .maldives {
        width: 100%;
}
    .indonesia {
        width: 100%;
}
    .srilanka {
        width: 100%;
}
    .north-america {
        width: 100%;
}
    .kashmir {
        width: 100%;
}
    .bangladesh {
        width: 100%;
}
    .bandarban img {
        width: auto;
}
.chose-cards{
    display: flex;
   flex-direction: column;
   align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 20px;
}
.last-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/*newsletter responsive for small device*/
.newsletter-text{
    width: 100%;
    gap: 10px;
}
.newsletter-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.newsletter-image{
    width: 100%;
}
.discount{
    background-color: orangered;
    width: 210px;
    height: 79px;
    border-radius: 8px;
    transform: rotate(-19.628deg);
    flex-shrink: 0;
    margin-left: 54%;
    margin-top: 62%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
}